# digitalr00ts minimal kickstart file
#platform=x86, AMD64, or Intel EM64T

install
# cdrom
url --url="http://dl.kororaproject.org/pub/korora/releases/$releasever/$basearch/"
# nfs --server 192.168.122.1 --dir /exports/ks/

repo --name="Fedora-Everything" --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch
repo --name="Fedora-Update" --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f$releasever&arch=$basearch

keyboard 'us'
lang en_US
timezone America/Los_Angeles --isUtc --ntpservers=0.pool.ntp.org,1.pool.ntp.org,2.pool.ntp.org,3.pool.ntp.org
rootpw --iscrypted --lock  $1$k4aUN3va$URZYG5mTDY2ZVnvZy.XxL/

## Optional ##
text
eula --agreed
reboot

auth --useshadow --passalgo=sha512 --enablefingerprint
selinux --enforcing

# network --bootproto=static --ip=192.168.122.99 --netmask=255.255.255.0 --gateway=192.168.122.1 --nameserver=8.8.8.8 --nameserver=8.8.4.4
# services --enabled=fstrim.timer,ksmtuned,lirc,ModemManager,NetworkManager,restorecond,sshd --disabled=spice-vdagentd,abrtd,abrt-ccpp,abrt-oops,abrt-vmcore,abrt-xorg,capi,iprdump,iprinit,iprupdate,iscsi,iscsid,isdn,libvirtd,multipathd,netfs,network,nfs,nfslock,pcscd,rpcbind,rpcgssd,rpcidmapd,rpcsvcgssd,sendmail,sm-client
# firewall --enabled --service=mdns,samba,samba-client,ssh

sshpw --username=commander $1$k4aUN3va$URZYG5mTDY2ZVnvZy.XxL/ --iscrypted
# vnc

user --name=default_admin --groups=wheel --iscrypted --password=$1$k4aUN3va$URZYG5mTDY2ZVnvZy.XxL/

%include korora-base.ks
%include disk.ks

%packages --excludedocs
@core --nodefaults
%end

%pre --log=/tmp/ks-pre.log
#!/bin/bash
# Initialize global variables if necessary
[ -z ${startpath+x} ] && declare -x startpath="$(pwd)"
[ -z ${runpath+x} ] && declare -x runpath='/run/install'
[ -z ${master+x} ] && declare -x branch='scripts'
[ -z ${desktop+x} ] && declare -x desktop=0

# Checks for kickstart files and scripts
# If not found will pull from Github
if [ ! -f ${startpath}/scripts/init.sh ] ; then
  echo "Pulling Kicstart files and scripts from Github" >&2
  echo "Using branch: ${branch}" >&2
  mkdir --parent $runpath/scripts && cd $_
  curl --location --remote-name https://github.com/digitalr00ts/korora-kickstart/raw/$branch/scripts/init.sh
  chmod +x init.sh
  cd -
fi

exec ${startpath}/scripts/init.sh

%end

%post
sed -i 's/rhgb\|quiet//g' /etc/default/grub
grub2-mkconfig -o /boot/grub2/grub.cfg

# dnf --assumeyes install crudini xmlstarlet
%end
